.card-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.action-btn,.action-btn:focus {
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.rounded-img {
  border-radius: 20px;
}


