::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 2em;
}
.mat-radio-group {
  width: 100%;
  text-align: center;
}

.mat-radio-button {
  width: 33%;
}

::ng-deep .mat-radio-label {
  justify-content: center;
}
