<div>
    <form class="example-form" [formGroup]="taskForm" (ngSubmit)="submitForm()">
        <div class="row w-100">
            <div class="col w-100 p-10">
                <mat-form-field class="example-full-width" >
                    <mat-label>Task</mat-label>
                    <input matInput placeholder="Task" formControlName="message">
                </mat-form-field>
            </div>
        </div>
        <div class="row w-100">
            <div  class="col w-50 p-10">
                <mat-form-field appearance="fill">
                    <mat-label>Assign to</mat-label>
                    <mat-select formControlName="assigned_to" 
                    (selectionChange)="onSelect($event)">>
                        <mat-option *ngFor="let user of users" [value]="user.id" >
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col w-50 p-10">
                <mat-form-field appearance="fill">
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="due_date" [min]="minDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row w-100">
            <mat-radio-group aria-label="Select an option" formControlName="priority">
                <mat-radio-button value="1">Normal</mat-radio-button>
                <mat-radio-button value="2">Medium</mat-radio-button>
                <mat-radio-button value="3">High</mat-radio-button>
            </mat-radio-group>

        </div>
        <div class="row w-100 mt-20">
            <div class="col w-50 p-10">
                <button  mat-raised-button color="accent" class="w-100" (click)="closeDialog()" >Cancel</button>
            </div>
            <div class="col w-50 p-10">
                <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="this.taskForm.status==='INVALID'" >Submit</button>
            </div>
        </div>
    </form>
</div>