<div cdkDropListGroup>
    <div class="example-container">
        <h2>High</h2>

        <div cdkDropList [cdkDropListData]="high" class="example-list" (cdkDropListDropped)="drop($event)">
            <mat-spinner *ngIf="this.taskService.loading"></mat-spinner>
            <div class="example-box" *ngFor="let item of high" cdkDrag>
                <app-task-card class="w-100" [item]="item" [users]="users" (delete)="deleteTask($event)"
                    (update)="onEditClick($event)"></app-task-card>
            </div>
            <div *ngIf="!this.taskService.loading && high.length ==00" >
                <div class="example-box ">
                    No Tasks!
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Medium</h2>

        <div cdkDropList [cdkDropListData]="medium" class="example-list" (cdkDropListDropped)="drop($event)">
            <mat-spinner *ngIf="this.taskService.loading"></mat-spinner>
            <div class="example-box" *ngFor="let item of medium" cdkDrag>
                <app-task-card class="w-100" [item]="item" [users]="users" (delete)="deleteTask($event)"
                    (update)="onEditClick($event)"></app-task-card>
            </div>
            <div *ngIf="!this.taskService.loading && medium.length ==00" >
                <div class="example-box">
                    No Tasks!
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Normal</h2>

        <div cdkDropList [cdkDropListData]="low" class="example-list" (cdkDropListDropped)="drop($event)">
            <mat-spinner *ngIf="this.taskService.loading"></mat-spinner>
            <div class="example-box" *ngFor="let item of low" cdkDrag>
                <app-task-card class="w-100" [item]="item" [users]="users" (delete)="deleteTask($event)"
                    (update)="onEditClick($event)"></app-task-card>
            </div>
            <div *ngIf="!this.taskService.loading && low.length ==00" >
                <div class="example-box">
                    No Tasks!
                </div>
            </div>
        </div>
    </div>
</div>